extends layout 

block content 
    
    h2 Ingrese el producto
    form(action='/productos' method='post') 
        label PRODUCTO
        input(type="text" name='titulo' required='')
        label PRECIO
        input(type="number" name='precio' required='')
        label URL
        input(type="text" name="imagen")
        button(type="submit") AGREGAR PRODUCTO
    a(href="/productos")
        button(type="button") VER PRODUCTOS
        

